*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# beamer
*.nav
*.pre
*.snm
*.vrb

# output
*.pdf

# random stuff
*.kate-swp
pdfa.xmpi
*.xmpdata
.desktop
*.retry
.vagrant/
