#
# This file is managed by Ansible.
# All manual changes will be overwritten.
#

server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name _;
	root /var/www/html;
	index index.html;

	location / {
		try_files $uri $uri/ =404;
	}
}
